<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Personal Finance Tracker{% endblock %}</title>
</head>
<body>
    <h1>Personal Finance Tracker</h1>
    <nav>
        <a href="/add"><button>➕ Add Transaction</button></a>
        <a href="/add_income"><button>💰 Add Income</button></a>
        <a href="/delete"><button>🗑️ Delete Transaction</button></a>
        <a href="/transactions"><button>📄 All Transactions</button></a>
        <a href="/category"><button>📂 Filter by Category</button></a>
        <a href="/budget_summary"><button>📋 See Budget Summary</button></a>
        <a href="/summary"><button>📊 Summary</button></a>
    </nav>
    <hr>
    {% block content %}
    {% endblock %}
</body>
</html>